@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal__overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }
  .modal__content {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    background: white;
  }
  .modal_active {
    transform: scale(1);
  }
  .btn {
    @apply p-4 bg-[#c4d5dd6e] text-xl rounded-sm xl:text-2xl text-nowrap;
  }
  input {
    outline: none;
  }
  .modal_input {
    @apply w-full my-4 p-4 bg-[#f3f3f3];
  }
  .filter__elem {
    @apply grow border-[1px] hover:bg-slate-300 cursor-pointer;
  }

  .filter_active {
    @apply bg-slate-300;
  }

  .btn_log {
    color: #22272d;
    background: #e6b333;
    border: 1px solid #22272d22;
    padding: 7px 15px;
    border-radius: 3px;
    font-size: 0.8em;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
  }

  .active_btn_log {
    color: black;
    font-weight: bold;
  }
  .form_log_wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  /* alert */
  .alertAnimation {
    transition: 1s;
    transform: translateY(-10px);
  }

  .post-animation {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

